@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
    text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Times New', serif;
  font-size: x-large;
}
hr{
  width: 100%;
  cursor: pointer;
}

h1{
    margin-top: 0.5px;
    box-sizing: border-box;
    padding: 70px;
    font-size: 100px;
    background-color: gray;
    color: white;
}

h2{
    font-family: 'Courier New', Courier, monospace, serif;
    text-align: center;
    font-size: 35px;
    color: black;
    box-sizing: border-box;
    margin-top: 0rem;
}
h3{
    margin-top: 10px;
    margin-bottom: 0.5px;
}
main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.img {
  height: 10px;
  width: 7px;
}

button{
  display: inline-block;
  padding: 0.20rem;
  text-decoration: none;
  font-size: x-large;
  border: 1px solid white;
  color: white;
  background: white;
  border-radius: 3px;
  margin-top: 2px;
  cursor: pointer;
  background-color: black;
  margin-bottom: 0.5px;
  cursor: pointer;
}
.shop-item-button {
    display: inline-block;
    padding: 0.20rem;
    text-decoration: none;
    font-size: x-large;
    border: 1px solid white;
    color: white;
    background: white;
    border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;
    background-color: black;
    margin-bottom: 0.5px;
    cursor: pointer;
  }
   
  .purchase-btn1{
    font-size: large;
    display: flex;
    width: 50%;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 0.4rem;
    cursor: pointer;

  }
  
  .purchase-btn2{
    font-size: large;
    display: block;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-right: 100%;
    padding: 0.4rem;
    cursor: pointer;
  }
  .newdiv{
   padding-right: 80px;
   padding-right: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    display : absolute;
  }
  .newdiv h4 {
    display: relative;
    flex-wrap: wrap;
    padding: 0%;
    overflow-wrap: normal;
  }
  
  .newdiv img{
    padding: 0%;
    width: 390px;
    height: 270px; 
    margin: 1px;
  }
  .newdiv title{
    color: black;
  }
  .newproducts{
    margin-top: 0px;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 7rem;
    padding-right: 100px;
  }
  .cartbuttons{
    display: flex;
  }
  
  .cartpage.active {
    display: flex;
  } 
 .cartpage {
  float: top;
  align-items: center;
  top: 18px;
  justify-content: center;
  position: fixed;
  right: 200px;
  scroll-behavior: smooth;
 }
 .cart_content{
  scroll-margin-top: 80px ;
 } 
.cartcontainer{
  scroll-behavior: smooth;
  height: 100vh;
  width: 400px;
  overflow: scroll;
  scroll-margin-top: 80px ;
}
.cartbox{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cartimg{
  width: 120px;
  height: 100px;
}
.detailbox{
  display: grid;
  row-gap: 0.5rem;
  display: absolute;
}
.cart_prod_title{
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
}
.cart_prod_price{
  color: black;
  font-size: 1rem;
}
.cartquantity{
  width: 2.5rem;
  border: 1px solid black;
  text-align: center;
  font-size: 1rem;
  margin-left: 80px;
}
 .cart-row{
  display: relative;
  color: black;
  margin-top: 40px;
  padding: 2rem;
  margin-right: 0px;
  border-color: black;
  border-radius: 0.5px;
 }
 .cart-item{
  float: left;
  left: 0px;
  padding: 1rem;
  display: flex;
 }
 .cart-total{
  color: black;
  margin-top: 100px;
 }
.cart-items{
  color: black;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: black;
  color: white;
  padding: 0 1.5rem;
  display: flex;
  align-items: left;
  position: fixed;
  border-bottom: 1px solid white;
}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 410px;
  padding: 1rem;
  display: flex;
}

.main-header__item {
  margin: 1rem;
  padding: 1rem;
}

.hamburger {
  float: right;
  right: 20px;
  border: none;
  position: fixed;
  color: white;
  background-color: black;
  margin-top: 20px;
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;
}
.bottomoptions{
  margin-bottom: 90px;

}
.hamburger-nav 
  {
  background-color: white;
  position: fixed;
  top: 60px;
  right: 0;
  height:100vh;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid red;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  }

  .hamburger-nav.active{
    transform: translateX(0);
  }
.cancel{
  float: right;
  right: 10px;
  top: 10px;
  position: fixed;
  padding: 0.2rem;
  border: 1px solid rgb(125, 121, 121);
  background-color: white;
  color: rgb(125, 121, 121);
  margin-top: 0px;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: aqua;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
.row{
    margin-top: 15px;
    margin-bottom: 15px;
}

.pagination{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.paging{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.5rem;
  margin: 0 1rem;
}

.removebtn{
  margin-right: 40px;
  background-color: white;
  color: red;
  padding: 0px;
  width: 35px;
  border-color: red;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}  
.toasting{
  align-items: left;
  justify-content: left;
  position: fixed;
  align-content: center;
  margin: 1rem;
}
.toast {
  background-color: purple;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
  width: 400px;
 margin-top: 20px;
  
}

